@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 250px; /* Adjust based on your design */
    max-width: 100%; /* Ensures it doesn't go beyond the viewport width */
    height: 100%;
    overflow-y: auto; /* Enables vertical scrolling within the sidebar */
    z-index: 1000; /* Ensures it stays above other content */
  }
  .dashboard {
    position: fixed;
    background-color: #1f2a40;
    z-index: 1000;
  }
}
